
body{
    background: white;
}
#container{
    width:400px;
    text-align: center; 
    margin:0 auto;
    margin-top:18%;
}
/* Bordered form */
form {
    width:100%;
    padding: 50px;
    border: 8px solid #bdbdbd;
    border-radius: 25px;
    background: #e0e0e0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#container h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
}

/* Full-width inputs */
input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid #ccc;
    box-sizing: border-box;
}



#LOGIN {
    background-color: grey;
    color: white;
    padding: 14px 20px;
    margin-right: auto;
    border: none;
    cursor: pointer;
    width: 100%;
    display:inline-block;
    width:180px;
    line-height:14px;
    text-align:center;
    vertical-align:middle;
    border-radius: 20px;
}

#LOGIN:hover {
    background-color: #bdbdbd;
    color: black;
    border: 1px solid #9a9a9a;
    
}

#INSCRIPTION{
    background-color: grey;
    color: white;
    padding: 14px 20px;
    margin-left: 30px ;
    border: none;
    cursor: pointer;
    width: 100%;
    display:inline-block;
    width:180px;
    line-height:14px;
    text-align:center;
    vertical-align:middle;
    border-radius: 20px;
}

#INSCRIPTION:hover {
    background-color: #bdbdbd;
    color: black;
    border: 1px solid #9a9a9a;
    
}
body { 
max-width: 100%;
background-image:url(image.jpg); 
background-size: cover;
} 